/* css phần chung */
:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color: #ee4d2b;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header__card-width: 150px;
    --star-gold-color: #ffce3e;
    --header__sort-bar-height: 46px;
}
*{
    box-sizing: inherit;
    margin: 0;
}
html{
    font-size:62.5%;
    line-height:1.6rem;
    box-sizing: border-box;
}
/* responsive */
.grid__row{
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    flex-wrap: wrap;
}
/* test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
} 
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}
/* Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes growth {
    from{
        opacity: 0;
        transform: scale(var(--growth-from));
    }
    to{
        opacity: 1;
        transform: scale(var(--growth-to));
    }
}
/* modal */
.modal {
    --growth-from: 0.7;
    --growth-to: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: growth linear .1s;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal__body {
    margin: auto;
    z-index: 1;
    position: relative;
}
/* button syle */
.btn {
    height: 36px;
    min-width: 124px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    line-height: 1.4rem;
    background-color: var(--white-color);
}
.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--text-color);
}
.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--disabled {
    cursor: default;
}
/* selection */
.select-input {
    display: flex;
    min-width: 120px;
    height: 36px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    position: relative;
}
.select-input:hover .select-input__list {
    display: block;
}
.select-input__label {
    font-size: 1.4rem;
}
.select-input__icon {
    font-size: 1.4rem;
    color: var(--text-color);
}
.select-input__list {
    z-index: 1;
    list-style: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    background-color: var(--white-color);
    padding: 8px 12px;
    border-radius: 2px;
    display: none;
    animation: fadeIn linear .2s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.select-input__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 4px 0;
}
.select-input__link:hover {
    color: var(--primary-color);
}
/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination-item {
    margin: 0 10px;
}
.pagination-item__link {
    --height: 30px;
    text-decoration: none;
    font-size: 2.2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    display: block;
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}
.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover {
    filter: brightness(95%);
}